<div class="container">
	<div class="time_container">
        <div class="title">
		<h3>The Current Time and Date:</h3>
        </div>
		<div class="time_info">
			<h1><%= @time.strftime("%b %d, %Y") %></h1>
			<h1><%= @time.strftime("%I:%M %p") %></h1>
	    </div>
	</div>
</div>
